.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a49c5;
    height: 70px;
    color: white;
    padding: 10px 20px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin-right: 10px;
    border-radius: 50px;
  }
  
  .header a {
    color: white;
    font-weight: 500;
    margin: 0 15px;
    text-decoration: none;
  }
  
  .header a:hover {
    font-size: 18px;
    font-weight: 700;
    color: rgb(252, 195, 63);
    transition: transform 0.4s;

  }
  